.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #eee;

  .post-content {
    width: 15.5rem;
    padding: 10px;
    margin: 10px 6px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 2px black;
    background-color: #fff;

    .post-image {
      width: 100%;

      img {
        max-width: 100%;
      }
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
